/* Default style for the home section */
#home {
    min-height: 90vh;
    background: url('images/backgroundimage.jpg') center center/cover no-repeat;
    /* Other default styles */
  }
  
  /* Dark mode style for the home section */
  .dark-mode #home {
    background-color: #000; /* Black background */
    color: #fff; /* White text (if you want to ensure it) */
    background-image: none; /* Remove the background image in dark mode */
  }
  
  #home {
    color: white;
    position: relative;
  }
  
  #home::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 1;
  }
  
  #home .container {
    position: relative;
    z-index: 2;
  }
  
  #home img {
    max-width: 100%;
    height: auto;
    animation: fadeIn 1s ease-in-out;
  }